.filter {
  display: flex;
  flex-direction: row-reverse;
}
hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* grid css */
.gallery {
  align-items: stretch;
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: space-evenly;
  overflow: scroll;
  scroll-behavior: auto;
  text-align: center;
}

.robo-item {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  float: left;
  margin: 2px;
  padding: 5px;
}
.robo-item:hover {
  box-shadow: 0 0 4px #b6b6b6;
}

.item-detail {
  background: #f4f3f2;
  border: 1px solid #fcfcfc;
  margin: 5px;
  padding: 5px;
}

.robo-name {
  box-shadow: 0 0 4px #b6b6b6;
  color: #000;
  font: 19px ProximaNovaA-Regular;
  padding: 5px;
}
